.box{
    border: 0.25px solid rgb(120, 120, 120);

}

.firstbox{
    border: 0.25px solid rgb(120, 120, 120);


}

.secondbox{
    border: 0.25px solid rgb(120, 120, 120);


}

.thirdbox{
    border: 0.25px solid rgb(120, 120, 120);


}
